@import 'tailwindcss';

@theme {
  --color-well-read-50: #fdf3f3;
  --color-well-read-100: #fde3e4;
  --color-well-read-200: #fbcdce;
  --color-well-read-300: #f8a9ac;
  --color-well-read-400: #f1787c;
  --color-well-read-500: #e64d52;
  --color-well-read-600: #d32f34;
  --color-well-read-700: #c1272c;
  --color-well-read-800: #932125;
  --color-well-read-900: #7a2225;
  --color-well-read-950: #420d0f;
}

@layer base {
  html {
    /* 禁用触摸高亮 */
    -webkit-tap-highlight-color: transparent;

    /* 改善触摸体验 */
    touch-action: manipulation;

    /* 默认禁用文本选择 */
    user-select: none;
  }

  :root {
    color-scheme: dark light;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
  }

  @media (prefers-color-scheme: light) {
    /* Light mode styles */
  }
}
